@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: black;
  color: #fff;
}

.indented {
  margin-left: 16px;
}

.file-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}